# relations-dil==0.6.14
# relations-sql==0.6.8
# relations-mysql==0.6.4
relations-dil @ git+https://github.com/relations-dil/python-relations@c742bd922b963b614199b949ac936c38f74550ff
relations-sql @ git+https://github.com/relations-dil/python-relations-sql@5bbd72bab4fd76ecbe8dcbe2ba2101e95f03f335
relations-mysql @ git+https://github.com/relations-dil/python-relations-mysql@bc73c22e23b1e77bfa53757ae7a191ca373a5ddb
PyMySQL==0.10.0
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
