git+https://github.com/gaf3/python-relations.git@8b5c841#egg=relations
git+https://github.com/gaf3/python-relations-sql.git@bb79ce2#egg=relations-sql
git+https://github.com/gaf3/python-relations-mysql.git@46eb1d0#egg=relations-mysql
PyMySQL==0.10.0
ptvsd==4.3.2
coverage==5.2.1
pylint==2.5.3
